main {
    display: flex;
    justify-content: space-between;
    margin : 20px;
    font-family: cursive;
    animation: slide-in 5s ease-out forwards;
}

.asidekiri {
    animation: slide-in-kiri 3s ease-out forwards;
}

.asidekanan {
    animation: slide-in-kanan 3s ease-out forwards;
}

@keyframes slide-in-kiri {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-in-kanan {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

body {
    background-image: url('/images/background.jpg');
}

content {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    width: 80vh;
    padding: 5px;
    padding-left: 30px;
    border-radius: 15px;
}

text {
    display: flex;
    margin-top: 15px;
}

input[type="radio"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 50%;
    height: 20px;
    display: flex;
    border-radius: 5px;
}

button[value="hitungBmi"] {
    margin-top: 30px;
    height: 30px;
    width: 90px;
    background-color: rgb(100, 179, 224);
    border-radius: 5px;
}

button[value="reset"] {
    margin-top: 30px;
    height: 30px;
    width: 90px;
    background-color: rgb(248, 120, 120);
    border-radius: 5px;
    margin-bottom: 20px;
}

button[value="hasilBmi"] {
    margin-top: 30px;
    height: 30px;
    width: 150px;
    background-color: rgb(119, 223, 174);
    border-radius: 5px;
    margin-bottom: 25px;
}

.btnCalRest {
    display: flex;
    gap: 2vh;
}

.container {
    text-align: center;
}

.result {
    font-size: 30px;
}

.custom-number-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
}

.custom-number-input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    font-weight: bold;
    pointer-events: all;
}

button[value="kosultasiAhli"] {
    margin-top: 30px;
    height: 40px;
    width: 180px;
    background-color: rgb(119, 223, 174);
    border-radius: 5px;
    margin-bottom: 20px;
}

button[value="registrasiOnline"] {
    margin-top: 30px;
    height: 40px;
    width: 180px;
    background-color: rgb(119, 223, 174);
    border-radius: 5px;
    margin-bottom: 20px;    
}

button[value="kosultasiDokter"] {
    margin-top: 10px;
    height: 40px;
    width: 180px;
    background-color: rgb(119, 223, 174);
    border-radius: 5px;
    margin-bottom: 20px;
}

button[value="registrasiSkrg"] {
    margin-top: 10px;
    height: 40px;
    width: 160px;
    background-color: rgb(119, 223, 174);
    border-radius: 5px;
    margin-bottom: 20px;    
}

button[value="googlePlay"] {
    margin-top: 10px;
    height: 40px;
    width: 140px;
    background-image: url('/images/googleplay.jpg');
    border-radius: 5px;
    margin-bottom: 20px;
}

button[value="AppStore"] {
    margin-top: 10px;
    height: 40px;
    width: 160px;
    background-image: url('/images/appstore.jpg');
    border-radius: 5px;
    margin-bottom: 20px;    
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    content {
        width: 50vh;
    }
  }


  